.post{
    border: 1px solid lightgray;
    max-width: 500px;  
    margin-bottom: 40px;
}
.post-header{
    padding: 20px;
    display: flex;
    align-items: center;
}
.profile-im{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}
.userName{
    margin-left: 6px;
}
.post-image{
  width: 100%; 
}
.post-img-image{
    width: 100%;
    object-fit: contain;
}
.post-text h4{
    font-weight: normal;
    padding: 20px;
}

/* rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2023, 10, 25);
    }
  }
} */